body {
  font-family: arial, sans-serif;
}

h1 {
  color: #202124;
  display: block;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: right;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.details {
  color: #70757a;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-left: -80px;
}
.subheader {
  color: #70757a;
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  text-align: right;
}
.col-md-6 {
  margin-top: -60px;
}
.weather-img {
  margin-top: -20px;
}
.number {
  color: #202124;
  display: inline;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  margin-left: -10px;
}
.unit {
  color: #202124;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  vertical-align: top;
}
.unit a {
  text-decoration: none;
}

.source {
  padding-top: 10px;
}
